<h1 mat-dialog-title>Selecione os Pacientes</h1>
<div mat-dialog-content>
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="listPacientes()">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let paciente">
        <mat-checkbox
          [checked]="selectedPacientes.includes(paciente)"
          (change)="toggleSelection(paciente)">
          {{ paciente.nome }}
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let paciente">{{ paciente.telefone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  <mat-paginator [length]="pacientes.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="confirmSelection()">Confirmar</button>
</div>
