.container {
  height: 85vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 23vw;
  max-width: 23vw !important;
  min-height: 60vh !important;
  max-height: 60vh !important;
  height: 100%;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;

  .title-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .icon {
    margin: 10px 10px 50px 10px !important;
  }

  .container-button {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .big-button {
    width: 300px;
    height: 50px;
    font-size: 22px;
    padding: 12px 24px;
  }

  .medium-button {
    width: 125px;
    height: 40px;
    font-size: 18px;
    padding: 6px 12px;
  }

  .editor {
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 90%;
    min-height: 55%;
  }

  .toolbar {
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
  }

  .editor-input {
    width: 100%;
    height: 80%;
    padding: 8px;
    border: none;
    resize: none;
    font: inherit;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  .container-button-end {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .select-pacient {
    overflow: auto;
    min-width: 90%;
    min-height: 55%;
  }
}
