<div class="container">
  <mat-card class="card" appearance="outlined">
    <div class="title-text">
      <p>{{ getTittleCard() }}</p>
    </div>

    <div class="icon">
      <img mat-card-image [src]="getImage()" width="200" height="200" alt="">
    </div>

    <mat-card-content class="container-button">
      <button mat-button mat-flat-button class="big-button" [ngStyle]="getButtonStyle()" (click)="handleButtonClick()">{{ getButtonLabel() }}</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <div class="title-text">
      <p>Digite a mensagem que deseja enviar</p>
    </div>

    <div class="editor mat-elevation-z2">
      <mat-toolbar class="toolbar mat-elevation-z2">
        <button mat-icon-button (click)="formatText('bold')" matTooltip="Negrito (*texto*)">
          <mat-icon>format_bold</mat-icon>
        </button>
        <button mat-icon-button (click)="formatText('italic')" matTooltip="Itálico (_texto_)">
          <mat-icon>format_italic</mat-icon>
        </button>
      </mat-toolbar>
      <textarea matInput id="editor" [(ngModel)]="text" rows="5" placeholder="Digite seu texto aqui..." class="editor-input"></textarea>
    </div>

    <mat-card-content class="container-button"></mat-card-content>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-title class="title-text">
      <p>Selecione os pacientes para enviar mensagem</p>
    </mat-card-title>
    <mat-card-content class="container-button">
      <div class="container-button-end">
        <button mat-button mat-flat-button class="medium-button" (click)="enviar()"> Enviar </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
