<h2 mat-dialog-title>Redefinir Senha</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-form-field class="form-login">
      <mat-label >Código de Recuperação</mat-label>
      <input matInput formControlName="code" autocomplete="auto" placeholder="Código de Recuperação" maxlength="6">
      <mat-error *ngIf="handleError('password', 'required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field class="form-login">
      <mat-label>Nova Senha</mat-label>
      <input matInput formControlName="newPassword" type="password" title="Senha" placeholder="Senha" autocomplete="auto">
      <mat-error *ngIf="handleError('password', 'required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field class="form-login">
      <mat-label>Confirmar Nova Senha</mat-label>
      <input matInput formControlName="confirmPassword" type="password" title="Senha" placeholder="Senha" autocomplete="auto">
      <mat-error *ngIf="handleError('password', 'required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <section class="section-button">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Redefinir</button>
    </section>
  </form>
</mat-dialog-content>
