<div class="relatorio-container">
<mat-card class="grafico">
  <h2>Clientes Ativos e Inativos</h2>
  <ngx-charts-pie-chart  [doughnut]="true" [view]="[500,400]" [results]="clientesAtivosInativos" [legend]= "true"  [scheme]="colorScheme"></ngx-charts-pie-chart>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="grafico">
  <h2>Clientes por Idade</h2>
  <ngx-charts-pie-chart  [doughnut]="true" [view]="[500,400]" [results]="clientesPorIdade" [legend]= "true"  [scheme]="colorScheme"></ngx-charts-pie-chart>

</mat-card>

<mat-divider></mat-divider>

<mat-card class="grafico">
  <h2>Clientes por Mensalidade</h2>
  <ngx-charts-pie-chart  [doughnut]="true" [view]="[500,400]" [results]="clientesPorMensalidade" [legend]= "true"  [scheme]="colorScheme"></ngx-charts-pie-chart>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="grafico">
  <h2>Clientes por Sexo</h2>
  <ngx-charts-pie-chart  [doughnut]="true" [view]="[500,400]" [results]="clientesPorSexo" [legend]= "true"  [scheme]="colorScheme"></ngx-charts-pie-chart>
</mat-card>

</div>
