mat-toolbar {
  height: 60px;
  background: linear-gradient(to right, var(--mdc-fab-container-color, var(--mat-app-primary-container)), #03263C);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  position: fixed;
}

button{
  width: auto;
  height: auto;
}

mat-icon{
  font-size:35px;
  width: auto;
  height: auto;
}

.person-icon {
  color: #faf9f9;
}

