<mat-tab-group>
  <mat-tab label="Clientes">
    <app-relatorio-clientes></app-relatorio-clientes>
  </mat-tab>
  <!-- <mat-tab label="Faturamento">
    <app-relatorio-faturamento></app-relatorio-faturamento>
  </mat-tab> -->
  <!-- <mat-tab label="Aniversariantes">
    <app-relatorio-aniversariantes></app-relatorio-aniversariantes>
  </mat-tab> -->
  <mat-tab label="Anamnese">
    <app-relatorio-anamnese></app-relatorio-anamnese>
  </mat-tab>
  <mat-tab label="Ativos">
    <app-relatorio-ativos></app-relatorio-ativos>
  </mat-tab>
</mat-tab-group>

<button class="export-excel-btn" (click)="exportExcel()">Exportar Excel</button>
