<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content>
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Dados da identidade são obrigatórios.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Identidade do Paciente</ng-template>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="João da Silva" formControlName="1" required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Dados do endereço são obrigatórios.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Endereço do Paciente</ng-template>
        <mat-form-field>
          <mat-label>Rua</mat-label>
          <input matInput placeholder="Rua VP-03" formControlName="2" required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
