<mat-card class="aniversariantes-container">
  <h2>Aniversariantes do Dia</h2>
  <mat-table [dataSource]="aniversariantes" class="mat-table">
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['nome', 'data']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['nome', 'data'];"></mat-row>
  </mat-table>
</mat-card>
