@use '@angular/material' as mat;
@use '../m3-theme' as my-theme;
@include mat.core();

html, body {
  @include mat.all-component-themes(my-theme.$light-theme);
}
body {
  margin: 0;
  font-family: Gotham-Light, sans-serif;
}

:root {
  /* Colors */
  --verde: #00d778;
  --cinza: #9da7b2;
  --cinza-claro: #EEF1F4;
  --azul: #03263c;
  --branco: #ffffff;
  --preto: #1d1d1d;
  --azul-claro: #91aeca;
  --vermelho: #ba1a1a;
  /* Box Shadow */
  --box-shadow-default: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);

  /*Font Shadow*/
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.relatorio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f5f5f5;
  justify-content: space-between;
}

.grafico {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.grafico-pizza {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: 300px;
  height: 400px;
}

.grafico-barra {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  min-width: 400px;
  height: 400px;
}

.grafico-linha {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  min-width: 400px;
  height: 400px;
}
