table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-position, .mat-column-name, .mat-column-weight, .mat-column-symbol {
  border-right: 1px solid var(--cinza-claro);
  border-color: var(--cinza-claro);
}

.mat-mdc-header-row {
  background-color: var(--cinza-claro) !important;
  font-weight: bold;
  font-size: 1rem;
}
