<div class="page-container">
  <mat-card class="example-card" appearance="raised">
    <mat-card-header>
      <img ngSrc="assets/logo-sf.png" alt="logo" width="300" height="87" priority>
    </mat-card-header>
    <div class="line"></div>
    <mat-card-title class="card-title">LOGIN</mat-card-title>
    <div class="line"></div>
    <mat-card-content class="card-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="form-login">
          <mat-label >Login do Usuário</mat-label>
          <input matInput formControlName="login" autocomplete="auto"
                 placeholder="Login ou email" maxlength="20">
          <mat-error *ngIf="handleError('login', 'required')">
            Campo obrigatório!
          </mat-error>
          <mat-error *ngIf="handleError('login', 'minLength')">
            Tamanho mínimo de 3 letras
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-login">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password" title="Senha" placeholder="Senha" autocomplete="auto">
          <mat-error *ngIf="handleError('password', 'required')">
            Campo obrigatório!
          </mat-error>
        </mat-form-field>
        <section class="section-button">
          <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</div>
