<h2 mat-dialog-title>Esqueci minha senha</h2>
<mat-dialog-content>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <form [formGroup]="form" (ngSubmit)="sendResetCode()">
    <mat-form-field class="form-login">
      <mat-label >Email do Usuário</mat-label>
      <input matInput formControlName="email" autocomplete="auto" placeholder="Email">
    </mat-form-field>

    <section class="section-button">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
    </section>
  </form>
</mat-dialog-content>
